[author]
	email = dev.ascariandrea@gmail.com
	name = ascariandrea
[committer]
	email = dev.ascariandrea@gmail.com
	name = ascariandrea
[user]
	email = dev.ascariandrea@gmail.com
	name = ascariandrea
[core]
	editor = vim
	ignorecase = false
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[merge]
	tool = vscode
	ff = only
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[push]
	default = simple
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[interactive]
	diffFilter = delta --color-only --features=interactive
[delta]
	side-by-side = true
[init]
	defaultBranch = main
